html{
  scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font-family: "Ubuntu";
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

legend {
  color: #000;
}

/* for ie6 */
fieldset,
img {
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.ks-clearfix:after,
.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.ks-clear,
.clearfix {
  zoom: 1;
}
img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}
